/* BASE DESIGN SYSTEM STYLES */

:root {
/*
 * COLOR PALETTE
 * */

    /* PRIMARY */
    --dark-orange: #F16718;
    --light-orange: #FF9B62;
    --dark-blue: #162542;
    --light-blue: #7B8BAD;

    /* NEUTRAL */
    --light-gray: #E8EFF2;
    --white: #FFF;


/*
 * TYPOGRAPHY
 * */
    --font-family-barlow: "Barlow", sans serif;
    --h1-font-size-mobile: 48px;
    --h1-line-height-mobile: 48px;
    --h1-font-size-desktop: 56px;
    --h1-line-height-desktop: 56px;
}

h1, h2, h3, p {
    font-family: var(--font-family-barlow);
}

h1, h2, h3 {
    text-transform: uppercase;
    color: var(--dark-blue);
    font-weight: 900;
}

h1 {
    font-size: var(--h1-font-size-mobile);
    line-height: var(--h1-line-height-mobile);
}

h2 {
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    line-height: 28px;
}

body {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--light-blue);
    box-sizing: border-box;
}


/*
 * BUTTONS
 * */

button {
    color: var(--white);
    width: 151px;
    height: 48px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.button-nav {
    background-color: var(--light-gray);
    color: var(--dark-blue);
}

.button-nav:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

.button-cta {
    background-color: var(--dark-orange);
}

.button-cta:hover {
    background-color: var(--light-orange);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
    width: 100%;
}

.wrapper > * {
    grid-column: col-start / span 12;
}

header {
    padding: 23px 24px;
}

.nav-logo {
    width: 40px;
    height: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 41px;
}

.cta-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    width: 310px;
}

.cta-action span {
    text-transform: uppercase;
    font-weight: 700;
}

.cta-keyboard {
    background-image: url('./assets/mobile/image-keyboard.jpg');
    background-position: center;
    background-size: cover;
    height: 331px;
    width: 372px;
    position: relative;
    left: 24px;
    margin-top: 2em;
}

.rounded-corners-image {
    border-radius: 25px;
}

/* PRODUCT ABOUT SECTION */

.product-about-images {
    display: flex;
    justify-content: space-evenly;
}

.phone-keyboard {
    display: inline-block;
    position: relative;
    background: url('./assets/mobile/image-phone-and-keyboard.jpg'), linear-gradient(rgba(241,103,24, 0.75), rgba(241,103,24, 0.75));
    background-blend-mode: multiply;
    background-size: cover;
    width: 129px;
    height: 193px;
    left: -22px;
}

.glass-keyboard {
    display: inline-block;
    position: relative;
    background: url('./assets/mobile/image-glass-and-keyboard.jpg');
    background-size: cover;
    width: 220px;
    height: 193px;
}

.product-about-text {
    padding: 24px;
    text-align: center;
}

.product-title {
    width: 255px;
    height: 108px;
    margin: 24px auto;
}

.product-description {
    margin: 24px auto;
}


